@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc; /* Slate 50 - Very light gray/white */
  color: #334155; /* Slate 700 */
}
